<!-- Footer -->
<footer class="bg-light text-center ">
  <!-- Copyright -->
  <div class="text-right p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022, All Rights Reserved   |   Get the latest version on &nbsp;<a  href="https://github.com/ej8899/tinyapp"><i class="fa-brands fa-github fa-fade fa-2xl" style="color: black;"></i></a>&nbsp;&nbsp;
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->