<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />

    <title>User Login</title>
  </head>

  <body>
    <%- include('partials/_header') %>

    <main style="margin: 1em;">
      <h3>Welcome to TinyApp!</h3>
      <p>Welcome to the web's top URL shortening service!<br>Sign in now to create tiny URLs or to check your account info.<br><BR>Need an account?  <a href="/register">Register here</a>.</p>

      <h3>Sign In:</h3>
      <form class="form-inline" action="/login" method="POST">
        <div class="form-group mb-2">
          <label for="login">Your Email:</label>
          <input
            class="form-control"
            type="email"
            name="email"
            placeholder="you@someemail.com"
            style="width: 300px; margin: 1em"
          /><br>
          <label for="password">Password:</label>
          <input
            class="form-control"
            type="password"
            name="password"
            style="width: 100px; margin: 1em"
          />
          <button type="submit" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
            <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
          </svg> Login</button>
        </div>
      </form>
      <% if(locals.message) { %>
        <p class="h6"><%= message %> <a href="/register">Register here!</a></p>
      <% } %>
      <div>
        
      </div>
    </main>
    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>